<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">학생관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">학생관리</a></li>
                                <li class="breadcrumb-item">학생 참여관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="join-student">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <tbody>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>실습 학기</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>학년</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                    <th>진행현황</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>검색</th>
                                    <td colspan="3">
                                        <input type="text" class="form-control" placeholder="이름, 학번, 휴대폰번호 입력">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>
                    <div class="row row-0 justify-content-between align-items-end mb-3">
                        <div class="col-auto bg-gray-1 p-3">
                            <p class="text-danger mb-2 font-weight-bold">유의사항</p>
                            <p>※ 실습을 진행 중인 학생들의 예방접종현황과 보안서약서를 열람할 수 있으며, 출석부 및 평가서를 작성할 수 있습니다.</p>
                            <p>※ 출석부 최초 저장시 해당 학생의 담당 현장지도자로 지정되며, 이후에는 변경할 수 없으니 유의하세요.</p>
                        </div>
                    </div>                            
                    <div class="row justify-content-between align-items-end mb-3 ">
                        <div class="col-auto">
                            <b>Total : 000</b>
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <!-- <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#modal-training-designation-common">실습학생지정</button>
                            <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#modal-training-form">실습교과목관리</button>
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button> -->
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px">
                                        <div class="custom-control custom-checkbox without-label">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"><label>
                                        </div>
                                    </th>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">실습학기</th>
                                    <th class="text-center">학년</th>
                                    <th class="text-center">학번</th>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">진행현황</th>
                                    <th class="text-center">순회지도</th>
                                    <th class="text-center">잡담회</th>
                                    <th class="text-center">검진 및 예방접종 <br> 자가 점검표</th>
                                    <th class="text-center">서약서</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 10; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center">
                                        <div class="custom-control custom-checkbox without-label">
                                            <input type="checkbox" class="custom-control-input" id="check<%= i %>">
                                            <label class="custom-control-label" for="check<%= i %>"><label>
                                        </div>
                                    </td>
                                    <td class="text-center"><%= i %></td>
                                    <td class="text-center">1분기</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">9819155</td>
                                    <td class="text-center">김학생</td>
                                    <td class="text-center">실습완료</td>
                                    <td class="text-center"><a href="">2</a></td>
                                    <td class="text-center"><a href="">2</a></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-secondary" onclick="window.open('../util/self-diagnosis_form.html', '현장지도자 평가서 팝업', 'width=1200,height=900,location=no,status=no,scrollbars=yes')">보기</button>
                                    </td>
                                    <td class="text-center">완료</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>