<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">임상실습 평가서 입력</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">실습관리</a></li>
                                <li class="breadcrumb-item">학기정보</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="operation">
                <div class="container-fluid">
                    <p class="font-size-18px font-weight-bold mb-3 mt-3">● 임상실습분기생성</p>
                    <div class="row row-0 justify-content-between align-items-end mb-3">
                        <div class="col-auto bg-gray-1 p-3">
                            <p class="text-danger mb-2 font-weight-bold">유의사항</p>
                            <p>※ 임상실습분기를 생성하고, 하단의 항목들은 임상실습 타이틀에 사용되는 정보입니다.</p>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-end mb-3 mt-3">
                        <div class="col-auto">
                            평가 기본 정보
                        </div>
                        <div class="col-auto">
                            <p class="text-danger">* 표시는 필수입력 항목입니다.</p>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col width="150px;">
                                <col>
                            </colgroup>

                            <tbody>
                            <tbody>
                                <tr>
                                    <th class="text-danger">연도 선택*</th>
                                    <td>
                                        2021년
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-danger">실습 분기*</th>
                                    <td>
                                        1분기
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-danger">임상실습명</th>
                                    <td>
                                        2022년 1분기 임상실습
                                    </td>
                                </tr>
                            </tbody>
                            </tbody>
                        </table>
                    </div>

                    <p class="font-size-18px font-weight-bold mb-3 m-t-100">● 실습기간</p>
                    <table class="table table-bordered" id="datatable1">
                        <colgroup>
                            <col width="250px;">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">실습 지수</th>
                                <th class="text-center">실습 기간</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody>
                            <tr>
                                <td class="text-center">1차 실습</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <input type="text" readonly="" class="form-control" value="2022-01-08">
                                        <p class="ml-4 mr-4">~</p>
                                        <input type="text" readonly="" class="form-control" value="2022-01-12">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2차 실습</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <input type="text" readonly="" class="form-control" value="2022-01-08">
                                        <p class="ml-4 mr-4">~</p>
                                        <input type="text" readonly="" class="form-control" value="2022-01-12">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </tbody>
                    </table>

                    <p class="font-size-18px font-weight-bold mb-3 m-t-100">● 과목별 평가서, 배정교수 선택</p>

                    <table class="table table-bordered" id="datatable1">
                        <colgroup>
                            <col width="250px;">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2" colspan="2">
                                    <p>실습교과목</p>
                                    <p>2022년 1분기 임상실습</p>
                                </th>
                                <th class="text-center" colspan="2">평가서선택</th>
                                <th class="text-center" rowspan="2">배정교수<br> -> 주임교수</th>
                            </tr>
                            <tr>
                                <th class="text-center">교수용</th>
                                <th class="text-center">현장지도자용</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td class="text-center" rowspan="6">3학년</td>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>

                            <!-- 4학년 -->
                            <tr>
                                <td class="text-center" rowspan="6">4학년</td>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">기본간호학 실습1</td>
                                <td class="text-center">
                                    2022 교수용 평가서 선택
                                </td>
                                <td class="text-center">
                                    2022 현장지도자용 평가서 선택
                                </td>
                                <td class="text-center">
                                    박교수
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mr-2">수정</button>
                        <button type="button" class="btn btn-secondary">목록</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>