<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">운영관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">운영관리</a></li>
                                <li class="breadcrumb-item">학기정보</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="operation">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <p class="font-size-18px font-weight-bold mb-3">● 실습 정보</p>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 150px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">연도</th>
                                    <th class="text-center">실습학기</th>
                                    <th class="text-center">임상실습명</th>
                                    <th class="text-center">전체 실습기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">연도</td>
                                    <td class="text-center">4분기</td>
                                    <td class="text-center">2022년 4분기 임상실습</td>
                                    <td class="text-center">2021.10.01~2021.12.30</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns justify-content-end">
                            <select name="" id="" class="custom-select width-200px">
                                <option value="">실습기관 선택</option>
                            </select>
                            <button type="button" class="btn btn-dark min-width-90px">실습기관 추가</button>
                        </div>
                    </div>

                    <p class="font-size-18px font-weight-bold mb-3">● 실습 기관</p>

                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center" rowspan="2">연번</th>
                                    <th class="text-center" rowspan="2">기관명</th>
                                    <th class="text-center" rowspan="2">부서명</th>
                                    <th class="text-center" rowspan="2">실습단위</th>
                                    <th class="text-center" rowspan="2">현장지도자</th>
                                    <th class="text-center" rowspan="2">배정교수</th>
                                    <th class="text-center" rowspan="2">평가교수</th>
                                    <th class="text-center" rowspan="2">실습교과목</th>
                                    <th class="text-center" colspan="2">평가표</th>
                                </tr>
                                <tr>
                                    <th class="text-center">교수</th>
                                    <th class="text-center">현장지도자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 1번 -->
                                <tr>
                                    <td class="text-center" rowspan="6">1</td>
                                    <td class="text-center" rowspan="6">강릉제일병원</td>
                                    <td class="text-center" rowspan="3">내과</td>
                                    <td class="text-center">6병동</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7병동</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8병동</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" rowspan="2">산부인과</td>
                                    <td class="text-center">부인과</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">출산과</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" rowspan="1">소아과</td>
                                    <td class="text-center">소아병동</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <!-- 1번 끝 -->

                                <!-- 2번 -->
                                <tr>
                                    <td class="text-center" rowspan="3">2</td>
                                    <td class="text-center" rowspan="3">가톨릭병원</td>
                                    <td class="text-center" rowspan="2">청소년과</td>
                                    <td class="text-center">소아과</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">가정의학과</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select ">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">정형외과</td>
                                    <td class="text-center">정형1과</td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">현장지도자 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">배정교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가교수 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">실습교과목 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select name="" id="" class="custom-select">
                                            <option value="">평가표 선택</option>
                                        </select>
                                    </td>
                                </tr>
                               <!-- 2번 끝 -->
                            </tbody>
                            
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mr-2">저장</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">취소</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>