<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">담당/평가표/실습과목 배정</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">운영관리</a></li>
                                <li class="breadcrumb-item">담당/평가표/실습과목 배정</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="operation-charge">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 150px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select width-200px">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>

                    <p class="font-size-18px font-weight-bold">● 임상실습 목록</p>
                    <div class="row row-0 justify-content-between align-items-end mb-3 mt-3">
                        <div class="col-12 bg-gray-1 p-4">
                            <p class="text-danger mb-2 font-weight-bold">유의사항</p>
                            <p>※ 실습학기별로 실습기관을 배정해 주세요.</p>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-end mb-0 mt-5">
                        <div class="col-auto">
                            임상실습 목록
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            <b>Total : 000</b>,
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">연도</th>
                                    <th class="text-center">실습학기</th>
                                    <th class="text-center">임상실습명</th>
                                    <th class="text-center">전체 실습기간</th>
                                    <th class="text-center">실습기관수</th>
                                    <th class="text-center">실습기관 배정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 4; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center"><%= i%></td>
                                    <td class="text-center">2022</td>
                                    <td class="text-center">3분기</td>
                                    <td class="text-center">2022년 4분기 임상실습</td>
                                    <td class="text-center">2021.10.01~2021.12.30</td>
                                    <td class="text-center"><a href="#modal-agency-info" data-toggle="modal" class="text-center">14</a></td>
                                    <td class="text-center"><a href="operation_charge_detail.html" class="btn btn-sm btn-secondary">관리</a></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>