<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">임상실습 평가서 입력</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">실습관리</a></li>
                                <li class="breadcrumb-item">학기정보</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="operation">
                <div class="container-fluid">
                    <div class="row row-0 justify-content-between align-items-end mb-3">
                        <div class="col-auto bg-gray-1 p-3">
                            <p class="text-danger mb-2 font-weight-bold">유의사항</p>
                            <p>※ 대항목 메뉴의 PO는 프로그램 학습성과(Program Outcome)를 의미하며, 간호교인증을 위해 알맞은 PO를 선택해 주세요!</p>
                            <p>※ 소항목들의 최고 점수의 합은 대항목에서 입력한 최대점수를 초과할 수 없으므로 점수 배분에 유의하세요.</p>
                        </div>
                    </div>     

                    <div class="row justify-content-between align-items-end mb-3 mt-3">
                        <div class="col-auto">
                           평가 기본 정보
                        </div>
                        <div class="col-auto">
                            <p class="text-danger">* 표시는 필수입력 항목입니다.</p>
                        </div>
                    </div>
                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col width="150px;">
                                <col>
                            </colgroup>
                          
                            <tbody>
                                <tbody>
                                    <tr>
                                        <th class="text-danger">연도 선택*</th>
                                        <td>
                                            <select name="" id="" class="custom-select width-200px">
                                                <option value="">연도 선택</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-danger">평가서 선택*</th>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-danger">학년 선택*</th>
                                        <td>
                                            <select name="" id="" class="custom-select width-200px">
                                                <option value="">3학년</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-danger">교과목 선택*</th>
                                        <td>
                                            <select name="" id="" class="custom-select width-200px">
                                                <option value="">지역사회간호학실습I</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-danger">평가자 선택*</th>
                                        <td>
                                            <select name="" id="" class="custom-select width-200px">
                                                <option value="">현장지도자</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-danger">척도개수*</th>
                                        <td>
                                            <select name="" id="" class="custom-select width-200px">
                                                <option value="">5</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-auto">
                            <a href="operation_form_2.html" class="btn btn-primary">다음</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>