<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">실습관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">실습관리</a></li>
                                <li class="breadcrumb-item">학생배치 대상관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="practice-placement">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <tbody>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>실습 분기</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>실습 교과목</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                    <th>실습 기관</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>

                    <p class="font-size-18px font-weight-bold">● 임상실습 목록</p>
                    <div class="row row-0 justify-content-between align-items-end mb-3 mt-3">
                        <div class="col-auto bg-gray-1 p-4">
                            <p class="text-danger mb-2 font-weight-bold">유의사항</p>
                            <p>※ 학생배치대상 신규등록 버튼을 클릭하여, 학생배치대상을 등록해 주세요. </p>
                            <p>※ 인원배치는 실습교과목별 배정교수가 입력합니다.</p>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-end mb-0 mt-5">
                        <div class="col-auto">
                            2022년도 실습기관별 교과목 학생 배정
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            <b>Total : 000</b>,
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                    <table class="table table-bordered" id="datatable1">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">번호</th>
                                <th class="text-center">학기</th>
                                <th class="text-center">실습기관</th>
                                <th class="text-center">실습부서</th>
                                <th class="text-center">실습단위</th>
                                <th class="text-center">실습교과목</th>
                                <th class="text-center">배정교수</th>
                                <th class="text-center">현장지도자</th>
                                <th class="text-center">평가교수</th>
                                <th class="text-center">배정학생수</th>
                                <th class="text-center">학생 배치</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 1번 -->
                            <tr>
                                <td class="text-center">10</td>
                                <td class="text-center" rowspan="6">1분기</td>
                                <td class="text-center" rowspan="6">강릉제일병원</td>
                                <td class="text-center" rowspan="3">내과</td>
                                <td class="text-center">6병동</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                                <td class="text-center" rowspan="6">
                                    <a href="#modal-student-arrangement" class="btn btn-primary" data-toggle="modal">학생 배정</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">9</td>
                                <td class="text-center">7병동</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">8</td>
                                <td class="text-center">8병동</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">9</td>
                                <td class="text-center" rowspan="2">산부인과</td>
                                <td class="text-center">부인과</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">8</td>
                                <td class="text-center">출산과</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">9</td>
                                <td class="text-center" rowspan="1">소아과</td>
                                <td class="text-center">소아병동</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <!-- 1번 끝 -->

                            <!-- 2번 -->
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center" rowspan="3">2분기</td>
                                <td class="text-center" rowspan="3">가톨릭병원</td>
                                <td class="text-center" rowspan="2">청소년과</td>
                                <td class="text-center">소아과</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td> 
                                </td>
                                <td class="text-center" rowspan="3">
                                    <a href="#modal-student-arrangement" class="btn btn-primary" data-toggle="modal">학생 배정</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">가정의학과</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">정형외과</td>
                                <td class="text-center">정형1과</td>
                                <td class="text-center">
                                    아동간호실습1
                                </td>
                                <td class="text-center">
                                  강교수
                                </td>
                                <td class="text-center">
                                  김간호
                                </td>
                                <td class="text-center">
                                 정교수
                                </td>
                                <td class="text-center">
                                    <a href="practice_student_detail.html" class="text-underline">10</a>
                                </td>
                            </tr>
                           <!-- 2번 끝 -->
                        </tbody>
                        
                    </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>