<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div id="content">

                <div class="visual expense">
                    <div class="container">
                        <h1 class="title">경력증명내역</h1>
                    </div>
                </div>

                <div class="contents">
                    <div class="sub-nav">
                        <div class="subject">경력증명내역</div>
                        <div class="breadcrumb">
                            <ol>
                                <li><i class="icon-breadcrumb-home"></i></li>
                                <li>경력증명내역</li>
                            </ol>
                        </div>
                    </div>

                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 170px">
                                <col>
                                <col style="width: 170px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>연도</th>
                                    <td>
                                        <select name="" id="" class="form-control width-240px">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>학기</th>
                                    <td>
                                        <select name="" id="" class="form-control width-240px">
                                            <option value="">학기 선택</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button class="btn btn-primary">검색</button>
                        </div>
                    </div>

                    <div class="list-title-wrap">
                        <div>
                            <i class="icon-list-title"></i>
                            <p class="title">경력증명 목록 </p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-round min-width-140px">
                                경력증명서 출력
                                <i class="icon-print-white m-l-10"></i>
                            </button>
                        </div>
                    </div>

                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col style="width:140px;">
                                <col>
                                <col style="width:300px;">
                                <col style="width:140px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>과목</th>
                                    <th>기간</th>
                                    <th>강의시간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 10; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center">이론</td>
                                    <td class="text-center">왕복엔진 윤활 및 시동계통</td>
                                    <td class="text-center">2021. 07. 01 ∼ 09. 30 </td>
                                    <td class="text-center">24</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- 모달-->
        <%- include('../modal/modal.ejs')%>
        <!-- 공통모달(로그인/ 삭제 관련) -->
        <%- include('../modal/common.ejs')%>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>