<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">임상실습지도관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">교수업무관리</a></li>
                                <li class="breadcrumb-item">임상실습지도관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="clinical_practice">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <tbody>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>실습 분기</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>실습 교과목</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                    <th>실습 기관</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            실습연도 : 
                            <b>2022년</b>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered table-sm" id="datatable1">
                            <colgroup>
                                <col style="width:5%">
                                <col style="width:10%">
                                <col style="width:8%;">
                                <col style="width:9%">
                                <col style="width:7%;">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col style="width:5%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center" rowspan="2">학기</th>
                                    <th class="text-center" rowspan="2">실습<br>교과목</th>
                                    <th class="text-center" rowspan="2">실습<br>기관</th>
                                    <th class="text-center" rowspan="2">실습<br>부서</th>
                                    <th class="text-center" rowspan="2">실습<br>단위</th>
                                    <th class="text-center">1차</th>
                                    <th class="text-center">2차</th>
                                    <th class="text-center">3차</th>
                                    <th class="text-center">4차</th>
                                    <th class="text-center">5차</th>
                                    <th class="text-center">6차</th>
                                    <th class="text-center">7차</th>
                                    <th class="text-center">8차</th>
                                    <th class="text-center">9차</th>
                                    <th class="text-center">10차</th>
                                    <th class="text-center">11차</th>
                                    <th class="text-center">12차</th>
                                    <th class="text-center" rowspan="2">인원</th>
                                </tr>
                                <tr>
                                    <th class="font-size-12px">01.19 ∼ 02.26</th>
                                    <th class="font-size-12px">01.29 ∼ 02.09</th>
                                    <th class="font-size-12px">02.12 ∼ 02.23</th>
                                    <th class="font-size-12px">02.26 ∼ 03.09</th>
                                    <th class="font-size-12px">03.12 ∼ 03.23</th>
                                    <th class="font-size-12px">03.26 ∼ 04.06</th>
                                    <th class="font-size-12px">04.09 ∼ 04.20</th>
                                    <th class="font-size-12px">04.23 ∼ 05.04</th>
                                    <th class="font-size-12px">05.07 ∼ 05.18</th>
                                    <th class="font-size-12px">05.21 ∼ 06.01</th>
                                    <th class="font-size-12px">06.04 ∼ 06.15</th>
                                    <th class="font-size-12px">06.18 ∼ 06.29</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" rowspan="8">30분기</td>
                                    <td class="text-center" rowspan="8">지역 사회 간호실습2</td>
                                    <td class="text-center" rowspan="8">강릉 성심 병원</td>
                                    <td class="text-center" rowspan="8">신생아집중 치료실</td>
                                    <td class="text-center" rowspan="2">응급의학 병동</td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center" rowspan="8">
                                        <a href="clinical_practice_form.html" class="btn btn-secondary btn-sm">관리</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" rowspan="2">103병동</td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" rowspan="2">103병동</td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" rowspan="2">103병동</td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="font-14px">김학생<p class="font-size-12px">(200984)</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-cpl-score").modal("show");
        });
    </script>
</body>

</html>