<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">성취평과 항목 관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">교수업무관리</a></li>
                                <li class="breadcrumb-item">핵심간호술관리</li>
                                <li class="breadcrumb-item">성취평과 항목 관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="professor-develope">
                <div class="container-fluid">
                    <div class="inquery-area d-flex align-items-center mt-5">
                        <p>항목추가</p>
                        <table class="table table-bordered width-500px mb-0 ml-3 mr-3">
                            <colgroup>
                                <col style="width: 150px">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>항목명</th>
                                    <td>
                                        <input type="text" class="form-control w-100" placeholder="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns mt-0">
                            <button type="button" class="btn btn-dark min-width-90px">항목추가</button>
                        </div>
                    </div>


                    <div class="main_search_result_list">
                        <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col width="100px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">항목명</th>
                                    <th class="text-center">변경 항목명</th>
                                    <th class="text-center">최근 변경일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 15; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center"><%= i%></td>
                                    <td class="text-center">활력징후</td>
                                    <td class="text-center">
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td class="text-center">2022.09.01</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="row mb-3 justify-content-center mt-5">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary mr-1">저장</button>
                                <button type="button" class="btn btn-outline-dark mr-1">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>