<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div id="content">

                <div class="visual edu">
                    <div class="container">
                        <h1 class="title">교육 대상</h1>
                    </div>
                </div>

                <div class="contents">
                    <div class="sub-nav">
                        <div class="subject">교육 대상</div>
                        <div class="breadcrumb">
                            <ol>
                                <li><i class="icon-breadcrumb-home"></i></li>
                                <li>교육 대상</li>
                            </ol>
                        </div>
                    </div>

                    <div class="table-title table-top-info">학생정보<strong>*필수</strong>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:230px">
                            <col>
                            <col style="width:230px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>학번(아이디)<strong class="text-danger">*</strong></th>
                                <td>201901000</td>

                                <th rowspan="3">사진</th>
                                <td rowspan="3">
                                    <div class="profile-thumb">
                                        <img src="../../assets/images/@landscape.jpg" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>이름<strong class="text-danger">*</strong></th>
                                <td>홍길동</td>
                            </tr>
                            <tr>
                                <th>생년월일<strong class="text-danger">*</strong></th>
                                <td>19940707</td>
                            </tr>
                            <tr>
                                <th>이메일<strong class="text-danger">*</strong></th>
                                <td colspan="3">
                                    gildong2@naver.com
                                </td>
                            </tr>
                            <tr>
                                <th>자택 연락처</th>
                                <td colspan="3">
                                    02-000-0000
                                </td>
                            </tr>
                            <tr>
                                <th>휴대전화 번호<strong class="text-danger">*</strong></th>
                                <td colspan="3">
                                    010-1034-1235
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="table-title table-top-info m-t-50">부가정보<strong>*필수</strong></div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:230px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>보호자 휴대폰<strong class="text-danger">*</strong></th>
                                <td>
                                    <span>부 : 010-0000-0000</span> <span class="ml-3">모: 010-0000-0000</span>
                                </td>
                            </tr>
                            <tr>
                                <th>혈액형</th>
                                <td>
                                    AB
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end align-items-center m-t-60">
                        <button type="button" class="btn btn-primary btn-lg width-120px">저장</button>
                        <button class="btn btn-secondary  btn-lg width-120px m-l-10">취소</button>
                    </div>

                </div>
                <!-- contents -->

            </div>
        </div>
        <!-- 모달-->
        <%- include('../modal/modal.ejs')%>
        <!-- 공통모달(로그인/ 삭제 관련) -->
        <%- include('../modal/common.ejs')%>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
        // $("#modal-cancel").modal("show");
    </script>

</body>

</html>